@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

html,
body,
#root {
    height: 100%;
}